<div class="player">
  <button id='play' type="button" name="play">></button>
  <button id='pause' type="button" name="pause">||</button>
  <button id='cue' type="button" name="cue">SOUNDBOX</button>
  <p>
    This will play shit soon
  </p>
</div>
