<div class="container" id="splash">
  <div class="row">
    <h1>Welcome to SoundBox!</h1>
  </div>
  <div class="row">
    <h5>SoundBox reimagines how you share your favourite music.</h5>
    <p>What does SoundBox entail?</p>
    <ol>
      <li>Download and install the <a href="">Google Chrome extension.</a></li>
      <li>
        Go to <a href="http://soundcloud.com">SoundCloud</a>
        and watch the magic new button appear on every single track.
      </li>
      <li>Add tracks to boxes.</li>
      <li>Listen to, share, and thoroughly enjoy your new boxes.</li>
    </ol>
  </div>
</div>
