.icon {
  width: 30px;
  height: 30px;
}

.icon-button {
  border-style: none;
  padding: 10px;
  background: transparent;
  margin-left: 25%;
}

.hide {
  display: none;
}
show {
  display: block;
}
