.icon {
  width: 20px;
  height: 20px;
}

.icon-button {
  border-style: none;
/*  padding: 10px;
*/  background: transparent;
/*  margin-left: 25%;
  z-index: 100;*/
}

#option-menu {
  font-family: Courier;
  height: 200px;
  width: 50%;
  background-color: lightgray;
  position: fixed;
  bottom: -200px;
  left: 0px;
  z-index: 100;
  transition: all 1s ease;
}

#option-menu.show-menu {
  bottom: 0px;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
}