<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<form id="login">
  <input type="button" value="Login">
</form>
<form id="search">
  <input id='query' type="text" name="cue">
  <input type="submit" name="name" value="search">
</form>
