/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//= require "skeleton"

body {
  background-color: #607182;
  color: #C1CDCA;
  padding-bottom: 100px;
}

#main-nav {
  display: block;
}

#main-nav button {
  float: right;
  margin: 0 1px;
}

h3.box-title {
  font-family: 'La Belle Aurore', serif;
  color: #C1CDCA;
}

h3.box-title a {
  text-decoration: none;
}

#player-footer {
  visibility: hidden;
  clear: both;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-left: -8px;
}

#player-footer.visible {
  visibility: visible;
}

i {
  text-decoration: none !important;
}

.track-info {
  font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Verdana, "Bitstream Vera Sans", sans-serif;
  font-weight: 200;
  color: #C1CDCA;
  text-transform: uppercase;
  font-size: 14px;
}

p, th, .material-icons {
  font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Verdana, "Bitstream Vera Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #C1CDCA;
}

#user-button, button.box-button, .button-primary {
  font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Verdana, "Bitstream Vera Sans", sans-serif;
  color: #6F8498 !important;
  background-color: #D7DCDB !important;
  border: none !important;
}

